{% extends 'base.html' %}

{% block content %}
<div>
  Hello World!
</div>

{% if books %}
<div>
  <h3>Browse through books other people have added to their libraries.</h3>

  {% for book in books %}
  <div style='border:1px solid black;'>
    <table>
      <tr>
        <td>{{ book.title }}</td>
        <td rowspan='2'>
          <button>Add to my Lib</button>
        </td>
      </tr>
      <tr>
        <td>by {{ book.author }}</td>
      </tr>
    </table>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}