{% extends 'base.html' %}

{% block content %}
<h1>
  {% if user %}
    {% if user == current_user %}
    Your Library
    {% else %}
    {{ user.username }}'s Library
    {% endif %}
  {% else %}
  Some Ethereal Being's Library
  {% endif %}
</h1>

{% if user == current_user %}
<div>
  <a href={{ url_for('book.edit_library') }}>Edit Your Collection</a>
</div>
{% endif %}

{% if entries %}
<div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Author</th>
        <th>Date Purchased</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
      <tr>
        <td>
          <a href={{ url_for('book.edit_entry', entry_id=entry.id) }}>Edit</a>
        </td>
        <td>{{ entry.book.title }}</td>
        <td>{{ entry.book.author }}</td>
        <td>
          {% if entry.date_purchased %}
          {{ entry.date_purchased }}
          {% endif %}
        </td>
        <td>{{ entry.notes }}</td>
      <tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}