{% extends 'base.html' %}

{% block content %}
<h1>
  {% if user %}
    {% if user == current_user %}
    Your Library
    {% else %}
    {{ user.username }}'s Library
    {% endif %}
  {% else %}
  Some Ethereal Being's Library
  {% endif %}
</h1>

{% if user == current_user %}
<div>
  <a href={{ url_for('book.edit_library') }}>Add To Your Collection</a>
  <p>or</p>
  <a href={{ url_for('book.share_library' )}}>Share Your Library</a>
</div>
{% endif %}

{% if entries %}
<div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Author</th>
        <th>Date Purchased</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
      <tr>
        <td>
          <a href={{ url_for('book.remove_entry', entry_id=entry.id) }}>Remove</a>
          <a href={{ url_for('book.edit_entry', entry_id=entry.id) }}>Edit</a>
        </td>
        <td>{{ entry.book.title }}</td>
        <td>{{ entry.book.author }}</td>
        <td>
          {% if entry.date_purchased %}
          {{ entry.date_purchased }}
          {% endif %}
        </td>
        <td>{{ entry.notes or '' }}</td>
      <tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<ul>
  {% if prev_url %}
  <li><a href={{ prev_url }}>Previous</a></li>
  {% endif %}

  {% if next_url %}
  <li><a href={{ next_url }}>Next</a></li>
  {% endif %}
</ul>

{% endblock %}